{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('new_entry') }}" method="post" class="w-full max-w-lg">
    <div class="input-container" style="display: flex; justify-content: left; width: full;">
        <div style="margin-right: 50px;">
            <label for="InputDate" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">祝日 日付</label>
            <input type="date" id="InputDate" name="date" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
        </div>
        <div>
            <label for="InputText" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">祝日 テキスト</label>
            <input type="text" id="InputText" name="text" rows="3" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"></input>
        </div>
    </div>
    <div style="display: flex; justify-content: left; width: full;">
        <div>
            <button type="submit" name="button" value="insert_update" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">新規登録・更新</button>
            <button type="submit" name="button" value="delete" class="bg-transparent text-red-700 border-solid border-red-500 font-semibold py-2 px-4  rounded-full hover:">削除</button>
            <button type="submit" class="bg-glay-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full ">一覧出力</button>
        </div>
    </div>
</form>
{% endblock %}