{% extends "layout.html" %}
{% block body %}
<form action="/login" method=post>
    <div class="form-group">
        <label for="InputTitle">ユーザ名</label>
        <input type="text" class="form-control" name=username id="InputTitle">
    </div>
    <div class="form-group">
        <label for="InputPassword">パスワード</label>
        <input type="password" class="form-control" name=password id="InputPassword">
    </div>
    <button type="submit" class="btn btn-primary">ログイン</button>
</form>
{% endblock %}