{% extends "layout.html" %}
{% block body %}
<form action="{{url_for('add_entry')}}" method=post class="add-entry">
    <div class="form-group">
        <label for="InputTitle">タイトル</label>
        <input type="text" name="title" id="InputTitle" class="form-control">
    </div>
    <div class="form-group">
        <label for="InputText">本文</label>
        <textarea name=text rows="3" id="InputText" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">作成</button>
</form>
{% endblock %}